<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>News Flash</h1>
        <p>Daily Science</p>
    </div>
</div>
<div class="container-fluid article container">
    {{#each articles}}
    <div data-_id="{{this.id}}" class="card">
        <div class="card-header">
            <h3>
                <a class="article-link" taget="_blank" rel="noopener noreferrer"
                    href="{{this.url}}">{{this.headline}}</a>
                <a class="btn btn-success save">Save Article</a>
            </h3>
        </div>
        <div class="card-body">{{this.summary}}</div>
    </div>

    {{/each}} {{#unless articles.length}}
    <div class='alert alert-warning text-center'>
        <h4>Sorry, no articles for you. Try back later!</h4>
    </div>
    <div class="card">
        <div class="card-header text center">
            <h3>What would you like to do?</h3>
        </div>
        <div class="card-body text-center">
            <h4>
                <a class="scrape-new">Get new articles!</a>
            </h4>
            <h4>
                <a href="/saved">Go to My Saved Articles</a>
            </h4>
        </div>
    </div>
    {{/unless}}
</div>

<footer class="footer">
    <div class="container">
        <p>Scrape for the Environment</p>
    </div>
</footer>